@model PayRollSystem.Models.EmployeeModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <h2>@ViewBag.Title</h2>
    <table id="customerForm_customer-fields" style="padding-left: 20px; padding-top: 20px; padding-bottom: 20px; padding-right: 20px;">
        <tbody>
            <tr style="padding-left: 10px; padding-right: 10px; display: none">
                <td>
                    <label>Employee Id</label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Employee.EmployeeId.Value, new { @id = "EmployeeId", @maxlength = 6 })
                </td>
            </tr>
            <tr style="padding-left: 10px; padding-right: 10px;">
                <td>
                    <label>Employee Code</label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Employee.EmployeeCode.Value, new { @id = "EmployeeCode", @maxlength = 6 })
                    @if (Model.Employee != null && !string.IsNullOrEmpty(Model.Employee.EmployeeCode.Error))
                    {
                        <span style="color: red; font-style: italic;">@Model.Employee.EmployeeCode.Error</span>
                    }
                </td>
            </tr>
            <tr style="padding-left: 10px; padding-right: 10px;">
                <td>
                    <label>Employee Name</label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Employee.EmployeeName.Value, new { @id = "EmployeeName", @maxlength = 70 })
                    @if (Model.Employee != null && !string.IsNullOrEmpty(Model.Employee.EmployeeName.Error))
                    {
                        <span style="color: red; font-style: italic;">@Model.Employee.EmployeeName.Error</span>
                    }
                </td>
            </tr>
            <tr style="padding-left: 10px; padding-right: 10px;">
                <td>
                    <label>Address</label>
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Employee.Address.Value, new { @id = "Address", @maxlength = 200 })
                    @if (Model.Employee != null && !string.IsNullOrEmpty(Model.Employee.Address.Error))
                    {
                        <span style="color: red; font-style: italic;">@Model.Employee.Address.Error</span>
                    }
                </td>
            </tr>
            <tr style="padding-left: 10px; padding-right: 10px;">
                <td>
                    <label>Post Code</label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Employee.PostCode.Value, new { @id = "PostCode", @maxlength = 10 })
                    @if (Model.Employee != null && !string.IsNullOrEmpty(Model.Employee.PostCode.Error))
                    {
                        <span style="color: red; font-style: italic;">@Model.Employee.PostCode.Error</span>
                    }
                </td>
            </tr>
            <tr style="padding-left: 10px; padding-right: 10px;">
                <td>
                    <label>Salary</label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Employee.Salary.Value, new { @id = "Salary",@maxlength = 15 })
                    @if (Model.Employee != null && !string.IsNullOrEmpty(Model.Employee.Salary.Error))
                    {
                        <span style="color: red; font-style: italic;">@Model.Employee.Salary.Error</span>
                    }
                </td>
            </tr>
            <tr style="padding-left: 10px; padding-right: 10px;">
                <td>
                </td>
                <td>
                    <input name="button" type="submit" value="Save" />
                    <input name="button" type="submit" value="Cancel" />
                </td>
            </tr>
        </tbody>
    </table>
        
}